@media (min-width: 320px) {
    .report-page {
        width: 95%;
        margin: 0 auto;
    }	
}

@media (min-width: 1200px) {
    .report-page  {
        width: 800px;
		margin: 0 auto;
        margin-top: 1rem;
	}	
}

@media (min-width: 1440px) {
	.report-page  {
		width: 55%;
		margin: 0 auto;
        margin-top: 1rem;
	}	
}

@media (min-width: 1920px) {
	.report-page  {
		width: 55%; 
		margin: 0 auto; 
        margin-top: 1rem;
	}
}

.report-page {
	color: var(--primary-color);
}

.report-page .post-page__post-content {
	font-size: var(--font-size-small);
}