.reset-password {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    margin: 0 auto;
    height: 80vh;
    max-width: 90vw;
    color: var(--primary-color)
}

.reset-password__new-password {
    font-size: var(--font-size-medium);
}

.reset-password__password {
    font-family: 'Courier New', Courier, monospace;
}