@import url("https://fonts.googleapis.com/css2?family=Jua&display=swap");

:root {
    font-family: Jua;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-background: #f9f9f8;
    --primary-color: #000000;
    --secondary-color: #8f8f8f;
    --tertiary-color: #ff6f61;
    --quaternary-color: #5a8f7b; 
    --font-size-xx-small: 1rem;
    --font-size-x-small: 1.25rem;
    --font-size-small: 1.5rem;
    --font-size-medium: 2rem;
    --font-size-large: 3rem;
    --font-size-category: clamp(2rem, 1.6vw, 2rem);
    --hover-color: #555555;
    
    --background-hover-color: #eeeeee;
    --accent-color: #007aff;
    --accent-color-gray: #777777;
    --pale-color: #ede7f6;
    --dark-color: #512da8;
    --secondary-color-background: #eaf8e6;
    --test-color: #d8f3dca1;

  }
  
  @media (max-width: 768px) {
    :root {
		--font-size-xx-small: 0.75rem;
		--font-size-x-small: 1rem;
		--font-size-small: 1.25rem;
		--font-size-medium: 1.5rem;
		--font-size-large: 2rem;
  }
}

body {
	background-color: var(--color-background);
	width: 100%;
}

body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('data:image/svg+xml;charset=UTF-8,<svg width="50" height="50" xmlns="http://www.w3.org/2000/svg"><line x1="0" y1="0" x2="0" y2="50" stroke="%237385A2" stroke-width="1" stroke-dasharray="2,2"/><line x1="0" y1="0" x2="50" y2="0" stroke="%237385A2" stroke-width="1" stroke-dasharray="2,2"/></svg>');
	background-repeat: repeat;
	opacity: 0.3;
	z-index: -1;
}

/* Default body width */
body {
	width: 100%;
	margin: 0;
	padding: 0;
}
  

a {
	text-decoration: none;
}

a {
	color: var(--primary-color);
}

  
::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track-piece{
	background-color: transparent;
}

::-webkit-scrollbar-thumb{
	background-color: #CBCBCB;
	outline: 2px solid #FFF;
	outline-offset: -2px;
	border: .1px solid #B7B7B7;
  
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover{
	background-color: #909090;
  	cursor: pointer;
}

/* When screen width is greater than 1024px */
.notification-wrapper {
    position: fixed;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    background: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    font-family: sans-serif;
    font-size: 14px;
    opacity: 0;
    transition: top 0.3s ease, opacity 0.3s ease;
    z-index: 9999;
    pointer-events: none;
	font-family: 'Jua';
	font-size: var(--font-size-small);
}

.notification-wrapper.visible {
    top: 20px;
    opacity: 1;
}

.notification-wrapper.info {
  	background: #333; /* Default info color */
}

/* Success type */
.notification-wrapper.success {
  	background: #4caf50; /* Green */
}

/* Error type */
.notification-wrapper.error {
 	background: #f44336; /* Red */
}

.deleted-post {
	font-family: 'Courier New', Courier, monospace;
	color: red;
}

.loading {
	margin-top: -6rem;

	color: var(--primary-color);
	font-family: 'Jua';
	font-size: var(--font-size-medium);
	height: 100vh;
	width: 100vw;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading svg {
	width: 5rem;
	height: 5rem;
}